html, body {
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    min-width: 400px;
  }
  
  #ville {
    text-transform: capitalize;
  }
  
  #temperature {
    font-size: 20px;
  }
  
  #changer {
    width: 200px;
    padding: 10px 15px;
    background: rgba(5, 17, 24, 0.3);
    cursor: pointer;
  }
  .wrapper{
    width: 1200px;
    margin: 0 auto;
  }
  .parti-milieu{
    text-align: center;
  }